# Data Frames

In [1]:
# Data Frame : It's a two dimensional Series object which havinf indexed columns and rows 
import pandas as pd

In [2]:
# For creating Data Frame series objects must have same set of keys which will act as label.
# And list of indexs will be provided to form the dataframe.
series1=pd.Series({
    'Name':'Vinay Pratap Singh',
    'Rank':'1',
    'Room No':'521'
})
series2=pd.Series({
    'Name':'Girdhari Gat',
    'Rank':'2',
    'Room No':'530'
})
series3=pd.Series({
    'Name':'Rahul Prajapat',
    'Rank':'5',
    'Room No':'524'
})

In [3]:
df=pd.DataFrame([series1,series2,series3],index=['P1','P2','P3'])
df

                  Name Rank Room No
P1  Vinay Pratap Singh    1     521
P2        Girdhari Gat    2     530
P3      Rahul Prajapat    5     524

### Indexing DataFrame

In [26]:
# Loc and Iloc indexing operators will be used for quering data.
# Indexes can be unique or similar.
print(df.loc['P2'])

print(df.iloc[2])

print(df.iloc[0][2])
print(df.loc['P2','Name'])
print(df['Name'])

Name       Girdhari Gat
Rank                  2
Room No             530
Name: P2, dtype: object
Name       Rahul Prajapat
Rank                    5
Room No               524
Name: P3, dtype: object
521
Girdhari Gat
P1    Vinay Pratap Singh
P2          Girdhari Gat
P3        Rahul Prajapat
Name: Name, dtype: object

In [27]:
df.loc['Name']

KeyError: 'Name'

### Transposing or Changing Axis

In [23]:
# Transposing Exchanges the axis of DataFrame.
# It doesn't chnage the dataframe just creates a copy.
df.T

                         P1            P2              P3
Name     Vinay Pratap Singh  Girdhari Gat  Rahul Prajapat
Rank                      1             2               5
Room No                 521           530             524

In [28]:
df.T.loc['Name']

P1    Vinay Pratap Singh
P2          Girdhari Gat
P3        Rahul Prajapat
Name: Name, dtype: object

### Extras

In [29]:
df.loc[:,['Name', 'Rank']] # It is used to get more than 1 columns

                  Name Rank
P1  Vinay Pratap Singh    1
P2        Girdhari Gat    2
P3      Rahul Prajapat    5

In [31]:
df.drop('P1') #dropping data table. it is temproray not permanent

              Name Rank Room No
P2    Girdhari Gat    2     530
P3  Rahul Prajapat    5     524

In [39]:
df

                  Name Rank Room No
P1  Vinay Pratap Singh    1     521
P2        Girdhari Gat    2     530
P3      Rahul Prajapat    5     524

In [41]:
copy_df=df.copy()

In [42]:
del copy_df['Rank']
copy_df

                  Name Room No
P1  Vinay Pratap Singh     521
P2        Girdhari Gat     530
P3      Rahul Prajapat     524

In [43]:
copy_df.drop("Room No", inplace=True, axis=1) # Another way to delete
copy_df

                  Name
P1  Vinay Pratap Singh
P2        Girdhari Gat
P3      Rahul Prajapat

In [44]:
df['CG']=None  # Adding new colum
df

                  Name Rank Room No    CG
P1  Vinay Pratap Singh    1     521  None
P2        Girdhari Gat    2     530  None
P3      Rahul Prajapat    5     524  None