In [2]:
# In this notebook we will discuss about Panda function 'Series' and its uses.
# Also some basic operations in Panda.
import pandas as pd

## Series Function

In [11]:
strings=['Vinay','Pratap','Singh']
ints=[3,2,5]
print(pd.Series(strings))  # normal function
print(pd.Series(ints))

0     Vinay
1    Pratap
2     Singh
dtype: object
0    3
1    2
2    5
dtype: int64

### With NULL value

In [13]:
strings=['Vinay','Pratap','Singh',None]
ints=[3,2,5,None]
print(pd.Series(strings))   # Gives None on print
print(pd.Series(ints))    # Gives NaN on print. NaN is a floating point value.

0     Vinay
1    Pratap
2     Singh
3      None
dtype: object
0    3.0
1    2.0
2    5.0
3    NaN
dtype: float64

### Series data from Different Methods

In [16]:
# Creating by Dictionary
dict={'Name':"Vinay Pratap",'Year':3,'Place':'MNIT'}
s=pd.Series(dict)
s

Name     Vinay Pratap
Year                3
Place            MNIT
dtype: object

In [17]:
s.index

Index(['Name', 'Year', 'Place'], dtype='object')

In [18]:
# Creating by Tuples
tup=[("Name","Vinay"),("Year",3),("Place","MNIT")]
t=pd.Series(tup)
t

0    (Name, Vinay)
1        (Year, 3)
2    (Place, MNIT)
dtype: object

In [20]:
# Index Way
s=pd.Series(["Vinay",3,"MNIT"], index=["Name","Year","Place"])
s

Name     Vinay
Year         3
Place     MNIT
dtype: object

In [21]:
# Index method with dict
dict={'Name':"Vinay",'Year':3,'Place':'MNIT','Class':'A'}
s=pd.Series(dict,index=['Name','Year','Class','Batch']) # It will find only indexs which are specified and rest of them will be ignored.
s

Name     Vinay
Year         3
Class        A
Batch      NaN
dtype: object